.terminal-container {
    height: 100vh;
    background-color: #1a1b26;
    color: #a9b1d6;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
}

.terminal-output {
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.command-line {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}

.prompt {
    color: #1793D1;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.prompt::before {
    content: "[";
    color: #9ece6a;
}

.prompt::after {
    content: "]";
    color: #9ece6a;
}

.command {
    color: #B8C0E0;
}

.output {
    color: #B8C0E0;
    margin-left: 3.5px;
    white-space: pre-wrap;
    width: 100%;
}


.input-line {
    display: flex;
    align-items: center;
}

.input-line input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #a9b1d6;
    outline: none;
    font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
    font-size: 14px;
    padding: 0 5px;
}

.input-line input::placeholder {
    color: #565f89;
}

.terminal-output::-webkit-scrollbar {
    width: 6px;
}

.terminal-output::-webkit-scrollbar-track {
    background: #1a1b26;
}

.terminal-output::-webkit-scrollbar-thumb {
    background: #414868;
    border-radius: 3px;
}
.neofetch {
    display: flex;
    flex-direction: column;
    white-space: pre;
}

.neofetch .separator {
    margin: 8px 0;
}
